.nav {
    font-size: 20px;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav li .sale {
    color: red;
}

.nav a {
    color: black;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: wheat;
}

nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 1s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul, ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: white;
    width: 100%;
}

ul li ul li {
    clear: both;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .nav li {
        display: block;
    }

    nav a:hover {
        background-color: wheat;
        width: 100%;
    }
}
