/*Pictures*/

.row_over {
    margin-top: 40px;
}

.big_pic {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

.big-pic {
    margin: 5px;
}

.pic-column {
    float: left;
    width: 25%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
    cursor: pointer;
}

.lazy_loaded:hover {
    -ms-transform: scale(1.05) translateZ(0);
    transform: scale(1.05) translateZ(0);
}

.card {
    padding: 10px;
    margin: 10px;
}

h4 {
    text-align: center;
}

#old_price {
    text-decoration: line-through;
}

.card #new_price {
    color: red;
    font-size: 20px;
}

.card p {
    display: inline;
}

.card button {
    margin-left: 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: wheat;
    cursor: pointer;
}

.card button:hover {
    border: 2px solid wheat;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .pic-column {
        width: 100%;
    }
}
