.block.newsletter {
    margin: 0;
    background-color: wheat;
}

.block.newsletter .newsletter-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    height: 50px;
    width: 1px;
    border-right: 1px solid #000;
}

.block.newsletter .newsletter-wrapper {
    margin-top: 50px;
    text-align: center;
    padding: 80px 0;
    position: relative;
}

.block.newsletter .title strong {
    font-size: 50px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 15px;
}

.block.newsletter .text {
    margin-bottom: 28px;
}

.form.subscribe input[type=email] {
    padding-left: 15px;
    font-size: 20px;
    min-height: 47px;
    width: 260px;
    color: grey;
}

.subscribe button[type=submit] {
    font-size: 25px;
    cursor: pointer;
    line-height: 37px;
}

.social-section ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    padding-right: 15px;
    cursor: pointer;
}

.customservice p, .paying-footer p {
    font-weight: bold;
}

.customservice a {
    text-decoration: none;
    color: black;
}

.page-footer .column {
    float: left;
    width: 33.33%;
    padding: 30px;
    text-align: center;
}

.hr-line {
    width: 50px;
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.copyright {
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .block.newsletter .title strong {
        font-size: 15px;
    }

    .content .text {
        font-size: 15px;
    }

    .subscribe button[type=submit] {
        background-color: tomato;
    }

    .page-footer .column {
        display: block;
    }

    .hr-line {
        display: none;
    }

    footer .column, .column a, .copyright {
        font-size: 10px;
    }

    .social-section ul li {
        display: inline;
    }

    .paying-footer {
        display: none;
    }
}
