* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page-header {
    max-width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: relative;
}

.page-header #brand {
    font-size: 30px;
}

.page-header #brand span {
    color: wheat;
}

#search {
    padding-left: 5px;
    padding-right: 40px;
    font-size: 25px;
    border-style: solid 0.5px #ccc;
    border-radius: 10px;
}

::placeholder {
    color: #ccc;
}

.fa-search {
    color: #ccc;
    margin: -30px;
}

.fa, .far, .fas {
    cursor: pointer;
    font-size: 20px;
}

.icon-bar i {
    margin-left: 40px;
}

@media only screen and (max-width: 600px) {
    .page-header {
        flex-flow: column nowrap;
        height: 20vh;
    }

    .fa, .far, .fas {
        visibility: hidden;
    }
}
